# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# Reference: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
.idea

# Docker Compose
.env
